body
{
	background-color: Purple ;
}

img
{
	width: 300px;
}

h1
{
	color: #ff0000;
	font-weight: bold;
	font-size: 36px;
	font-family: verdana;
}
.judulutama
{
	color: #ff00ff;
	font-weight: bold;
	font-size: 48px;
	font-family: verdana;
}
.Kuning
	{
	Color: Yellow ;
}

.Merah {
	color: #F00;
}

.Biru {
	color: #00F;
}

.Hijau {
	color: #0F0;
}

.Hitam {
	color: #000;
}

.Putih {
	color: #FFF;
}

.TeksKanan {
	text-align: right;
}

.TeksKiri {
	text-align: left;
}

.TeksTengah {
	text-align: center;
}

.TeksKiriKanan {
	text-align: justify;
}

.	